<div class="featurette" id="stats">
<img class="featurette-image img-circle img-responsive pull-right" src="images/smolclerd.jpg">
<div class="lead col-md-6">

<h2 class="featurette-heading">Current Stats</h2>

<table class="table">
  <tr>
    <td><strong>Participants:</strong></td>
    <td><%= Patron.count %></td>
  </tr>
  <tr>
    <td><strong>Active:</strong></td>
    <td><%= Patron.where(active: true).count %></td>
  </tr>
  <tr>
    <td><strong>Burritos served:</strong></td>
    <td><%= Package.where(received: true).count %></td>
  </tr>
  <tr>
    <td><strong>Calories served:</strong></td>
    <td><%= Package.where(received: true).count * 350 %> Kcal</td>
  </tr>
  <tr>
    <td><strong>Average TTD:</strong></td>
<%
  t_total = 0
  t_count = 0
  Package.each do |package|
    if package.latency.positive?
      t_total += package.latency
      t_count += 1
    end
  end
  ttd = t_total / t_count / 60 unless t_count == 0
  ttd ||= 0
%>
    <td><%= sprintf "%.2f", ttd %> min/burrito</td>
  </tr>
</table>

<h2 class="featurette-heading">Leaderboard</h2>

<%
  ##
  ## Leaderboard
  ##

  # Glutton
  glutton = Patron.first
  Patron.each do |patron|
    x = patron.burritos.where(failed: false, received: true).count
    y = glutton.burritos.where(failed: false, received: true).count
    glutton = patron if x > y
  end
  glutton_name = glutton.slack_first_name unless glutton.nil?
  glutton_name ||= ''

  # Minion
  minion = Patron.first
  Patron.each do |patron|
    x = patron.deliveries.where(failed: false, received: true).count
    y = minion.deliveries.where(failed: false, received: true).count
    minion = patron if x > y
  end
  minion_name ||= ''
  minion_name = minion.slack_first_name unless minion.nil?

  # Unsatisfied
  unsat = Patron.first
  Patron.each do |patron|
    x = patron.burritos.where(failed: true, received: false).count
    y = unsat.burritos.where(failed: true, received: false).count
    unsat = patron if x > y
  end
  unsat_name = unsat.slack_first_name unless unsat.nil?
  unsat_name ||= ''

  # Butterfingers
  butter = Patron.first
  Patron.each do |patron|
    x = patron.deliveries.where(failed: true, received: false).count
    y = butter.deliveries.where(failed: true, received: false).count
    butter = patron if x > y
  end
  butter_name = butter.slack_first_name unless butter.nil?
  butter_name ||= ''
%>

<table class="table">
  <tr>
    <td><strong>Glutton:</strong></td>
    <td><%= glutton_name %></td>
  </tr>
  <tr>
    <td><strong>Minion:</strong></td>
    <td><%= minion_name %></td>
  </tr>
  <tr>
    <td><strong>Unsatisfied:</strong></td>
    <td><%= unsat_name %></td>
  </tr>
  <tr>
    <td><strong>Butter fingers:</strong></td>
    <td><%= butter_name %></td>
  </tr>
</table>

</div>
<div class="col-md-6">
</div>
