<h2>Current stats</h2>
<table class="table">
  <tr>
    <td><strong>Participants:</strong></td>
    <td><%= Patron.count %></td>
  </tr>
  <tr>
    <td><strong>Active:</strong></td>
    <td><%= Patron.where(active: true).count %></td>
  </tr>
  <tr>
    <td><strong>Burritos served:</strong></td>
    <td><%= Package.where(received: true).count %></td>
  </tr>
  <tr>
    <td><strong>Calories served:</strong></td>
    <td><%= Package.where(received: true).count * 350 %> Kcal</td>
  </tr>
  <tr>
    <td><strong>Average TTD:</strong></td>
<%
  t_total = 0
  t_count = 0
  Package.each do |package|
    if package.latency.positive?
      t_total += package.latency
      t_count += 1
    end
  end
  ttd = t_total / t_count / 60 unless t_count == 0
  ttd ||= 0
%>
    <td><%= sprintf "%.2f", ttd %> min/burrito</td>
  </tr>
</table>
