<h2>Current stats</h2>
<table class="table">
  <tr>
    <td><strong>Participants:</strong></td>
    <td><%= Patron.count %></td>
  </tr>
  <tr>
    <td><strong>Active:</strong></td>
    <td><%= Patron.where(is_active: true).count %></td>
  </tr>
  <tr>
    <td><strong>Burritos served:</strong></td>
    <td><%= Package.where(received: true).count %></td>
  </tr>
  <tr>
    <td><strong>Calories served:</strong></td>
    <td><%= Package.where(received: true).count * 350 %> Kcal</td>
  </tr>
  <tr>
    <td><strong>Average TTD:</strong></td>
<%
  t_total = 0
  Package.each{ |p| t_total += p.updated_at - p.created_at }
  ttd = t_total / Package.where(received: true).count / 60
%>
    <td><%= sprintf "%.2f", ttd %> min/burrito</td>
  </tr>
</table>
